{% load staticfiles %}
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .inputErr{
         border-bottom: 1px solid red !important;
         box-shadow: 0 1px 0 0 red !important
        }
    </style>
</head>

<body>
<div class="row">
    <div class="col s12 l6 m10 offset-m1 offset-l3">
        <br>
        <img class="responsive-img" src="https://i.imgur.com/z3V1Sbc.png">
        <h2 class="center">Log in</h2>
        {% if request.user.is_authenticated %}
        Loged
        {{request.user.username}}
        <p><a href="{% url 'logout' %}">logout</a></p>
        {% else %}
        NotLoged
        {% endif %}
        {% for error in form.non_field_errors %}
        <div class="red-text">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        <form method="post">{% csrf_token %}
            <div class="card">
                <div class="card-content ">
                    <div class="row">
                        <div class="input-field col s12">
                            <span class="red-text">{{ form.username.errors }}</span>
                            <input placeholder="" id="{{form.user.id_for_label}}" name="username" type="text" class="validate {% if form.username.errors %}inputErr{% endif %}">
                            <label for="{{form.user.id_for_label}}" class="">User:</label>
                        </div>
                        <div class="input-field col s12">
                            <span class="red-text">{{ form.password.errors }}</span>
                            <input placeholder="" id="{{ form.password.id_for_label}}" name= "password" type="password" class="validate {% if form.password.errors %}inputErr{% endif %}">
                            <label for="{{ form.password.id_for_label}}">Password:</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s5 m5 l3 btn waves-effect waves-light blue lighten-2">
                    <button class="btn-flat white-text" type="submit" >Log in
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="col s5 m5 l3 push-s2 push-m2 push-l6 waves-effect waves-light btn red lighten-2">
                    <a href="../signup" class=""><span class="white-text">Sign up</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col s5 m5 l3 offset-s7 offset-m7 offset-l9 waves-effect waves-light btn red lighten-2">
                    <a href="../ signup?b=1" class=""><span class="white-text">Sign up as Business</span></a>
                </div>
            </div>
        </form>


    </div>
</div>

</body>
