{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
{% load i18n %}
<head>
  <!--<script-->
  <!--src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"-->
  <!--integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="-->
  <!--crossorigin="anonymous"></script>-->
    <script>
//         $(function () {
//             $.datepicker.setDefaults($.datepicker.regional["en"]);
// $("#datepicker").datepicker();
// });

    //      $(document).ready(function() {
    //          $('.datepicker').pickadate({
    // selectMonths: true, // Creates a dropdown to control month
    // selectYears: 15, // Creates a dropdown of 15 years to control year
    // format: 'dd-mm-yyyy' });
    //
    //      }
    </script>
</head>
<body>
<div class="row">
    <div class="col s12 l6 m10 offset-m1 offset-l3">
        {% if type != "business"%}
        <h2>{% trans "signup" %}</h2>
        {% else %}
         <h2>{% trans "signupBusiness" %}</h2>
        {% endif %}
        {% for error in form.non_field_errors %}
        <div class="red-text">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}

        <form method="POST">
            {% csrf_token %}
             <div class="card">
                 <div class="card-content center">
                     <div class="row">
                         {% for field in form.profile_form.user_form.visible_fields %}
                         <span class="red-text">{{ field.errors }}</span>
                        <div class="input-field col s12">
                            <!--<input placeholder="" id="{{ field.id_for_label }}" type="text" class="validate">-->
                            {{field}}
                            <label for="{{ field.id_for_label }}">{% trans field.label_tag %}:</label>
                        </div>
                         {% endfor %}

                         {% for field in form.profile_form.visible_fields %}
                         <span class="red-text">{{ field.errors }}</span>
                        <div class="input-field col s12">

                            {% if field.id_for_label != "id_user" %}
                            {% if field.widget.input_type == "select" %}
                             <input placeholder="" id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}"
                                    class="validate" name="{{ field.html_name }}" value="{{ field.value|default_if_none:'' }}">
                            {% elif field.id_for_label == "id_dateOfBirth" %}
                            <input id="{{ field.id_for_label }}" placeholder=" " type="date" class="validate" name="{{ field.html_name }}" value="{{ field.value}}">

                            {% else %}
                             <input id="{{ field.id_for_label }}" type="text" class="validate" name="{{ field.html_name }}" value="{{ field.value }}">
                             {% endif %}
                            <label for="{{ field.id_for_label }}">{{ field.label_tag }}:</label>
                            {% endif %}
                        </div>
                         {% endfor %}


                         {% if type != "business" %}
                         {% for field in form.visible_fields %}
                         <span class="red-text">{{ field.errors }}</span>
                        <div class="input-field col s12">
                           {% if field.id_for_label != "id_profile" and 'term' not in field.html_name %}

                             <input placeholder="" id="{{ field.id_for_label }}" type="text" class="validate" name="{{ field.html_name }}" value="{{ field.value|default_if_none:'' }}">
                             <label for="{{ field.id_for_label }}">{{ field.label_tag }}:</label>
                            
                            {% endif %}

                            {% if 'term' in field.html_name %}
                                <p><label>
                                    <input id="{{ field.id_for_label }}" required name="{{ field.html_name }}" type="checkbox" class="filled-in"/>
                                    <span>{% trans "acceptTerms" %} 
                                        {% if request.session.language == 'en-GB' %}
                                            <a href="/terms-and-conditions" class="blue-text ">{% trans "terms-and-conditions" %}</a>
                                        {% endif %}
                                        {% if request.session.language == 'es-ES' %}
                                            <a href="/terminos-y-condiciones" class="blue-text ">{% trans "terms-and-conditions" %}</a>
                                        {% endif %}
                                    </span>
                                </label></p>
                            {% endif %}

                        </div>
                         {% endfor %}
                         {%endif%}
                         <input type="submit" value="{% trans 'Submit' %}">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>M.AutoInit();</script>
</body>
{% endblock %}
