
{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="card  lighten-2">  
    <div class="row">
      <h1>{% trans "Challenge details" %}:</h1>
      <div class="col m6 s12">  
        <h4>{{challenge.title}}</h4>
      </div>
      <div class="col m6 s12">
        <h4>{% trans "Business" %}: {{ challenge.business }}</h4>
      </div>
    </div>
    <div class="card #ffebee red lighten-5"> 
      <span class="card-title">{% trans "Description" %}:</span>
      {{ challenge.description }}
    </div>  
    <div class="card #ffebee red lighten-5"> 
        <span class="card-title">{% trans "Objectives" %}:</span>
        {{ challenge.objectives }}
      </div>  
</div>
{% endblock %}