{% load staticfiles %}
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.chips');
            var instances = M.Chips.init(elems, options);
          });
    </script>
</head>

<body>
<div class="row">
    <div class="col s12 l6 m10 offset-m1 offset-l3">
         <div class="chips chips-autocomplete input-field">

            </div>
        <!--<form method="POST">-->
            <!--{% csrf_token %}-->
            <!--{{form.errors}}-->
            <!--{{form.non_field_errors}}-->

            <!--{{ form }}-->

            <!--&lt;!&ndash;<input type="submit" value="Submit">&ndash;&gt;-->
        <!--</form>-->
    </div>
</div>

</body>
