
{% extends "base_generic.html" %}
{% block content %}
  
<div class="card red lighten-4">  
<div class="row">
<h1 >Thread Detail:</h1><div class="col m6 s12"><h4>{{ thread.title }}</h4>   
</div>
<div class="col m6 s12">
<h4>Business: {{ thread.business }}</h4>  
</div>
</div>
<p class="flow-text">{{ thread.description }}</p>  

<p><b>Tags:</b>
  {% for tag in thread.tags.all %}
  {{tag.title}}
  {% endfor %}  
<b>Pictures:</b>
  {% for pic in thread.pics.all %}
  <a href="{{pic.title}}">Imagen</a>
  {% endfor %}  

<b >Attached Files:</b>
  {% for file in thread.attachedFiles.all %}
  <a href="{{file.title}}">Archivo</a></p>
  {% endfor %}  

<p><b>Valoration:</b> {{ thread.valoration.score }}</p>  
</div>
<a class="waves-effect waves-light btn" id="boton" href="/response/create/{{thread.id}}">Create a response for this thread</a>

<div class="row">
<h4 class ="col m1.5"  id ="respuestas">Responses:</h4>
</div>
{% for response in responses %}
<div class="card red lighten-4">
<b>{{ response.title }}</b><p>{{response.description}}</p>
<p>Business: {{response.business}} </p>
<br>
</div>
{% endfor %}  

{% endblock %}