{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
  
  
<body>
    <div class="container">
        <div class="col s12">  
            <h3>{% trans "threads" %}</h3>    
            <h5>{% trans "company" %}: {{businessThread.profile.name }}</h5>   
            <form action="/thread/business/list/">
                <div class="input-field">
                <input placeholder="Nombre compañía" id="search" name="search" type="search" >
                <label class="label-icon" for="search"><i class="material-icons">{% trans "search" %}</i></label>
                <i class="material-icons">{% trans "close" %}</i>
                </div>
            </form>
        </div>
        <div class="col s12">
            <div class="collection">
                {% for thread in threads %}
                    <a href="/thread/detail/{{thread.id}}" class="collection-item">{{ thread.title }}   &nbsp;&nbsp;&nbsp;&nbsp;{% trans "company" %}: {{ thread.business.profile.name }}</a>
                {% endfor %}
            </div>
            <div class="right">
                <a href="/thread/create/" class="btn waves-effect waves-red">{% trans "New thread" %}</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}