
{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
        <script>
          $(function(){
            var pics= '{{ pics }}';
            if(pics){
              $('.carousel.carousel-slider').carousel({
                  numVisible : 5
              });
            }
          });
          var instance = M.Carousel.init({
            fullWidth: true,
            indicators: true
          });
        </script>
<div class="row">
<div class="col s12 m8">
<div class="card  lighten-2">  
    <div class="row">
        <div class="col m6 s12">
            <h1>{% trans "Thread details" %}:</h1>
        </div>
      <div class="col m6 s12">
        <h4>{{thread.title}}</h4>
      </div>
      <div class="col m6 s12">
        <h4>{% trans "Business" %}: {{ thread.business }}</h4>
      </div>
    </div>
    <div class="card #ffebee red lighten-5"> 
      <span class="card-title">{% trans "Description" %}:</span>
      {{ thread.description }}
    </div>  
    
    <ul class="collection"><b>{% trans "Tags" %}:</b>
      {% for tag in thread.tags.all %}
      <li>{{tag.title}}</li>
      {% endfor %} 
      </ul> 
    <ul class="collection"><b >{% trans "Attached files" %}:</b>
      {% for file in thread.attachedFiles.all %}
      <li><a href="{{file.uri}}">{% trans "Attached file" %}</a></li>
      {% endfor %}  
    </ul>
   
            {% comment %}<ul class="collection">
                <li><b>{% trans "valoration" %}:</b> {{ thread.valoration.score }}</li>
            </ul> {% endcomment %}
            <b>{% trans "pictures" %}:</b>
                  <div class="carousel carousel-slider">
                    {% for pic in thread.pics.all %}
                      <a class="carousel-item" href="{{pic.uri}}"><img src="{{pic.uri}}" class="img-responsive"></a>
                    {% endfor %}  
                  </div>
        </div>    
    <a class="waves-effect waves-teal btn-flat" href="/response/create/{{thread.id}}">{% trans "createAResponseForThisThread" %}     <i class="material-icons right">send</i>
    </a>
</div></div>
<div class="row">
<h4 class ="col  #ffebee red lighten-5 m1.5"  >{% trans "responses" %}:</h4>
</div>
{% for response in responses %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card #ffebee red lighten-5">
                <p><b>{{ response.title }}</b></p><p>{{response.description}}</p>
                <p>{% trans "business" %}: {{response.business}} </p>
                <b>{% trans "pictures" %}:</b>
                <div class="carousel">
                {% if response.pics.count > 0 %}
                    {% for pic in response.pics.all %}
                      <a class="carousel-item" href="{{pic.uri}}"><img src="{{pic.uri}}" class="img-responsive"></a>
                    {% endfor %}
                {% endif %}
                </div>
                <br>
            </div>
        </div>
    </div>
{% endfor %}  

{% endblock %}