
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        {% block title %}<title>AIM Games Platform</title>{% endblock %}
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
          <script src="{% static 'js/materialize.min.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style> 
            body {
            background-color: whitesmoke;
            }
            nav{
            background-color:	#ff5c54;
            }
            #slide_out{
            background-color: #ff5c54;
            }
            
        </style>
       
    </head>

    <body>
        <nav>
            <div class="nav-wrapper">
                    <a href="/" class="brand-logo" id="logotipo" >AIM Games</a>
                    <a href="#" class="sidenav-trigger" data-target="slide_out"><i class="material-icons">{% trans "menu" %}</i></a>
                    <ul class="hide-on-med-and-down right">
                        <li class="active"><a href="/">{% trans "mainpage" %}</a></li>
                        {% if request.session.currentUser == 'business' %}
                            <li><a href="/thread/business/list/" target="_self" class="collection-item">{% trans "threads" %}</a></li>
                            <li><a href="/curriculum/business/list/" target="_self" class="collection-item">{% trans "curriculums" %}</a></li>
                        {% endif %} 
                        {% if request.session.currentUser == 'freelancer' %}
                            <li><a href="/freelancer/mycurriculum/-" target="_self" class="collection-item">{% trans "My curriculum" %}</a></li>
                        {% endif %}
                        {% if request.session.currentUser == 'business' or request.session.currentUser == 'freelancer' %}
                        	<li><a href="/joboffer/user/list/" target="_self" class="collection-item">{% trans "joboffers" %}</a></li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                        {% else %}
                        <li><a href="/accounts/login/" target="_self" class="collection-item">{% trans "Log In" %}</a></li>
                        {% endif %}
                    </ul>
            </div>
        </nav>
        <a href="/setlanguage/es-ES" target="_self"  class="waves-effect waves-light btn">Spanish</a>
        <a href="/setlanguage/en-GB" target="_self"  class="waves-effect waves-light btn">English</a>
            <ul class="sidenav" id="slide_out">
                <li class="active"><a>{% trans "mainpage" %}</a></li>
				{% if request.session.currentUser == 'business' %}
                	<li><a href="/thread/business/list/" target="_self" class="collection-item">{% trans "threads" %}</a></li>
                    <li><a href="/curriculum/business/list/" target="_self" class="collection-item">{% trans "curriculums" %}</a></li>
                {% endif %}
                {% if request.session.currentUser == 'freelancer' %}
                    <li><a href="/freelancer/mycurriculum/-" target="_self" class="collection-item">{% trans "My curriculum" %}</a></li>
                {% endif %} 
                {% if request.session.currentUser == 'business' or request.session.currentUser == 'freelancer' %}
                    <li><a href="/joboffer/user/list/" target="_self" class="collection-item">{% trans "joboffers" %}</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                {% else %}
                <li><a href="/accounts/login/" target="_self" class="collection-item">{% trans "Log In" %}</a></li>
                {% endif %}
            </ul>

        {% block content %}<!-- default content text (typically empty) -->{% endblock %}

        <script>
            const slide_menu = document.querySelectorAll(".sidenav");
            M.Sidenav.init(slide_menu,{});
            M.AutoInit();
        </script>
    </body>
</html>