{% extends "base_generic.html" %}
{% block content %}
<body>
<div class="row">
    <div class="col m12 l6">

        <h4>TODO:</h4>
        <ul class="collection">
            <li class="collection-item">Pagina personalizada de error y 404</li>
            <li class="collection-item">Hacer el proyecto</li>
            <a href="/accounts/login" target="_blank" class="collection-item">Vista de login (funciona con cuenta admin)</a>
            <a href="/pagar_paypal" target="_blank" class="collection-item">Paga Aqui</a>
            <a href="/pagar_paypal" target="_blank" class="collection-item">Paga Aqui</a>
            <a href="/thread/business/list/1" target="_blank" class="collection-item">Lista de hilos</a>


        </ul>
    </div>
    <div class="col m12 l6">
    <h3>Documentación</h3>
        <div class="collection">
            <a href="https://docs.djangoproject.com/en/2.1/ " class="collection-item">Django</a>
            <a href="https://materializecss.com/" class="collection-item">https://materializecss.com/ (EL CSS)</a>
        </div>
    </div>
</div>
<script>M.AutoInit();</script>
</body>
{% endblock %}