{% load staticfiles %}
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://i.imgur.com/z3V1Sbc.png">
          <span class="card-title" style="color:black"></span>
        </div>
        <div class="card-content">
            <p>El proceso de pago se iniciara, pulse el boton para pagar:</p>
        </div>
        <div class="card-action center">
                {{ form.render }}

        </div>
     </div>
    </div>
  </div>
</body>
