{% extends "base_generic.html" %}

{% block content %} 
<h1 class="header center black-text">Bienvenido a nuestra Política de Privacidad</h1>
<div class="row center">
    <h3>Su privacidad es muy importante para nosotros.</h3>
    AIM Games se encuentra en:<br/>
    <address> AIM Games<br/> Escuela Técnica Superior de Ingeniería Informática, Universidad de Sevilla, 41012 Sevilla </address>

    <p>Es política de AIM Games respetar su privacidad con respecto a cualquier información que podamos recopilar mientras operamos nuestro sitio web. Esta política de privacidad se aplica a <a href="http://aim-games-2.herokuapp.com/">aim-games-2.herokuapp.com/</a> (en lo sucesivo, "nosotros", "nosotros" o "aim-games-2.herokuapp.com/"). Respetamos su privacidad y nos comprometemos a proteger la información de identificación personal que nos puede proporcionar a través del sitio web. Hemos adoptado esta política de privacidad ("Política de privacidad") para explicar qué información se puede recopilar en nuestro sitio web, cómo utilizamos esta información y en qué circunstancias podemos divulgar la información a terceros. Esta Política de privacidad se aplica solo a la información que recopilamos a través del sitio web y no se aplica a nuestra recopilación de información de otras fuentes.</p>
    <p>Esta Política de privacidad, junto con los Términos y condiciones publicados en nuestro sitio web, establecen las reglas y políticas generales que rigen su uso de nuestro sitio web. Dependiendo de sus actividades al visitar nuestro sitio web, es posible que deba aceptar términos y condiciones adicionales.</p>
</div>
<div class ="row">
    <div class="col s12 m6">
        <h2>Visitantes del sitio web</h2>
        <p>Como la mayoría de los operadores de sitios web, AIM Games recopila información de identificación no personal del tipo que los navegadores y servidores web suelen ofrecer, como el tipo de navegador, la preferencia de idioma, el sitio de referencia y la fecha y hora de cada solicitud de visitante. El propósito de AIM Games al recopilar información de identificación no personal es comprender mejor cómo los visitantes de AIM Games utilizan su sitio web. De vez en cuando, AIM Games puede divulgar información que no es de identificación personal en conjunto, por ejemplo, mediante la publicación de un informe sobre las tendencias en el uso de su sitio web.</p>
        <p>AIM Games también recopila información de identificación personal como las direcciones de Protocolo de Internet (IP) para los usuarios registrados y para los usuarios que dejan comentarios en las publicaciones del blog http://aim-games-2.herokuapp.com/. AIM Games solo revela las direcciones IP de los usuarios y comentaristas registrados en las mismas circunstancias que utiliza y revela información de identificación personal como se describe a continuación.</p>
    </div>
    <div class="col s12 m6">
        <h2>Recopilación de información de identificación personal</h2>
        <p>Ciertos visitantes de los sitios web de AIM Games eligen interactuar con AIM Games de manera que AIM Games se reúnen para recopilar información de identificación personal. La cantidad y el tipo de información que AIM Games recopila depende de la naturaleza de la interacción.</p>
    </div>
</div>

<div class ="row">
    <div class="col s12 m4">
        <h2>Seguridad</h2>
        <p>La seguridad de su información personal es importante para nosotros, pero recuerde que ningún método de transmisión a través de Internet o de almacenamiento electrónico es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger su información personal, no podemos garantizar su absoluta seguridad.</p>
    </div>
    <div class="col s12 m4">
        <h2>Estadísticas anónimas</h2>
        <p>AIM Games puede recopilar estadísticas sobre el comportamiento de los visitantes de su sitio web. AIM Games puede mostrar esta información públicamente o proporcionarla a otros. Sin embargo, AIM Games no divulga su información de identificación personal.</p>
    </div>
    <div class="col s12 m4"></div>
        <h2>Cambios en la Política de Privacidad</h2>
        <p>Aunque es probable que la mayoría de los cambios sean menores, AIM Games puede cambiar su Política de privacidad de vez en cuando y a su entera discreción. AIM Games recomienda a los visitantes que visiten con frecuencia esta página para ver si hay cambios en su Política de privacidad. Su uso continuado de este sitio después de cualquier cambio en esta Política de privacidad constituirá su aceptación de dicho cambio.</p>
    </div>
</div>
{% endblock %}
