{% extends "base_generic.html" %}

{% block content %} 

<h1 class="header center black-text">Bienvenido a AIM Games</h2>
    <div class="row center">
    <p>Estos términos y condiciones marcan las reglas y regulaciones para el uso de AIM Games. Si quieres leer nuestra politica de privacidad haz click  <a href="/politica-privacidad">aquí</a>
    </p> 
    
	<span style="text-transform: capitalize;"> AIM Games</span> situada en:
	<address> 
            Escuela Técnica Superior de Ingeniería Informática, Universidad de Sevilla, 41012 Sevilla
	</address>
	<p>Accediendo a la página asumimos que aceptas estos términos y condiciones en su totalidad. No siga usando
		 AIM Games si no acepta todos los términos y condiciones declarados en esta página.	</p>
	<p>La siguiente terminología se aplica a estos términos y condiciones, politica de privacidadd y cualquier otro acuerdo:
		"Cliente", "Tú" y "Ústed" hace referencia a usted, la persona que accede a esta web aceptando los términos y condiciones
		de la compañia. "La compañia" y  "Nosotros" hace referencia a nuestra compañia. "De una parte" o "De ambas partes", hace
		referencia al cliente y a nosotors, o al cliente o a nosotros. Todos los términos se refieren a la oferta, aceptación y 
		consideración del pago necesario para llevar a cabo el proceso de nuestra asistencia al Cliente de la manera más adecuada,
		ya sea mediante reuniones formales de una duración fija, o por cualquier otro medio, con el propósito expreso de cumplir con
		los requisitos. Las necesidades del cliente con respecto a la provisión de los servicios / productos declarados de la Compañía,
		de acuerdo con y sujeto a la ley vigente de. Cualquier uso de la terminología anterior u otras palabras en singular, plural, 
		mayúsculas y / o él / ella o ellos, se consideran intercambiables y, por lo tanto, se refieren a la misma.
		</p>
</div>
<div class="row">
    <div class ="col s12 m4">
    <h2>Cookies</h2>
	<p id="bordes">Empleamos el uso de cookies. Al usar AIM Games, das el consentimiento de uso de cookies de acuerdo con la politica de privacidad de AIM Games.
		La mayoría de páginas actuales usan cookies para permitirnos obtener detalles del usuario para cada visita. Las cookies son usadas en algunas partes de 
		nuestra página para permitir algunas funcionalidades del area y facilitar el uso para los visitantes. </p>
    </div>
    <div class ="col s12 m4">
    <h2>Licencia</h2>
	<p id="bordes">Si no se especifica, AIM Games y/o sus propietarios poseen los derechos de propiedad intelectual de todo material de AIM Games. 
		Todos los derechos de propiedad intelectual están reservados. Puedes ver y/o imprimir páginas de http://aim-games-2.herokuapp.com/ para tú uso personal 
		sujeto a las restricciones impuestas en estos términos y condiciones.</p>
	<p>No debes:</p>
	<ol>
		<li>Republicar material de http://aim-games-2.herokuapp.com/</li>
		<li>Vender, alquilar o sublicenciar material de http://aim-games-2.herokuapp.com/</li>
		<li>Reproducir, duplicar o copiar material de http://aim-games-2.herokuapp.com/</li>
	</ol>
    <p>Redistribuir contenido de AIM Games (a no ser que el contenido este hecho para su redistribución)</p>
    </div>
    <div class ="col s12 m4">
    <h2>Comentarios</h2>
    <p id="bordes">
	<ol>
		<li>Este acuerdo empezará a partir de la fecha actual.</li>
		<li>Algunas partes de esta web ofrecen la oportunidad de que los usuarios intercambien opiniones, información, material y datos('Comentarios')
			en partes de la página web. AIM Games no monitorizará, editará, publciará o revisará comentarios antes de su aparición en el sitio web,
			y los comentarios no reflejan los puntos de vista u opiniones de AIM Games, sus agentes o afiliados. Los comentarios reflejan la opinión
			de la persona que publica dicha opinión En la medida en que lo permitan las leyes aplicables, AIM Games no será responsable de los comentarios
			ni de los posibles costos de pérdida, responsabilidad, daños o gastos ocasionados o sufridos como resultado de cualquier uso y / o publicación
			y / o aparición de los comentarios en este sitio web.
			</li>
		<li>AIM Games se reserva el derecho de supervisar todos los comentarios y eliminar cualquier comentario que considere,
			 a su absoluta discreción, inapropiado, ofensivo o que infrinja estos términos y condiciones.</li>
		<li>Usted garantiza y declara que:
			<ol>
				<li>Usted tiene derecho a publicar los comentarios en nuestro sitio web y tiene todas las licencias y consentimientos necesarios para hacerlo.</li>
				<li>Los comentarios no infringen ningún derecho de propiedad intelectual, incluidos, entre otros, los derechos de autor, patentes o marcas comerciales u otros derechos de propiedad de terceros.</li>
				<li>Los comentarios no contienen ningún material o material difamatorio, calumnioso, ofensivo, indecente o ilegal que sea una invasión de la privacidad.</li>
				<li>Los Comentarios no se utilizarán para solicitar o promocionar actividades comerciales, personalizadas o presentes, o actividades ilegales.</li>
				</ol>
			</li>
		<li>Usted otorga a  <strong>AIM Games</strong> una licencia no exclusiva sin derechos de autor para usar, reproducir y edite y autorice a otros a usar, reproducir y
			 editar cualquiera de sus Comentarios en cualquiera y todas las formas, formatos o los medios de comunicación.</li>
    </ol>
    </p>
    </div>
</div>
<div class="row center">
<h2>Enlaces a nuestro contenido</h2>
</div>
<div class="row">
    <div class="col s12 m12">
		Las siguientes organizaciones pueden vincularse a nuestro sitio web sin aprobación previa por escrito:
			<ol>
			<li>Agencias gubernamentales</li>
			<li>Motores de búsqueda</li>
			<li>Medios de comunicación</li>
			</ol>
		</li>
	</ol>
	<p>Aprobaremos las solicitudes de enlaces de estas organizaciones si determinamos que:
        <ol>
            <li>El enlace no se repercutirá desfavorablemente en nosotros o en nuestras empresas acreditadas (por ejemplo, las asociaciones comerciales u otras organizaciones que representan tipos de negocios intrínsecamente sospechosos)</li>
            <li>La organización no tiene un historial no satisfactorio con nosotros. </li>
            <li>El beneficio de la visibilidad asociada con el enlace es mayor que la ausencia de AIM Games, donde el enlace se encuentra en el contexto de la información general de recursos o es consistente con el contenido editorial en un boletín o producto similar que promueve la misión de la asociación.</li>
        </ol>
	<p>Estas organizaciones pueden vincularse a nuestra página de inicio, a publicaciones u otra información del sitio web siempre que el enlace: 
        <ol>
        <li>No es en modo alguno engañoso.</li>
        <li>No implica falsamente el patrocinio, el aval o la aprobación de la parte vinculada y sus productos o servicios</li>
        <li>Se adapta dentro del contexto del sitio de la parte vinculante.</li>
        </ol>
	<p>Si se encuentra entre las organizaciones mencionadas anteriormente y está interesado en enlazar a nuestro sitio web, debe notificarnos enviando un correo electrónico a<a href="mailto:aimgames@gmail.com" title="send an email to aimgames@gmail.com">aimgames@gmail.com</a>.
		Incluya su nombre, el nombre de su organización, información de contacto (como un número de teléfono y / o correo electrónico) así como la URL de su sitio, una lista de las URL desde las que desea enlazar a nuestro sitio web, y una lista de las URL en nuestro sitio que desea vincular. Permita 2-3 semanas para una respuesta.
	</p>
	<p>Las organizaciones aprobadas pueden enlazar a nuestro sitio web de la siguiente manera:</p>
	<ol>
		<li>Por el uso de nuestro nombre corporativo</li>
		<li>Mediante el uso de la dirección web a la que está vinculado.</li>
		<li>El uso de cualquier otra descripción de nuestro sitio web o material con el que esté vinculado tiene sentido dentro del contexto y el formato del contenido en el sitio de la parte vinculante.</li>
	</ol>
	<p>No se permitirá el uso del logotipo de AIM Games u otras ilustraciones para vincular, en ausencia de un acuerdo de licencia de marca registrada.</p>
</div>
</div>
<div class="row">
    <div class ="col s12 m4">
        <h2>Iframes</h2>
	    <p>Sin la aprobación previa y el permiso expreso por escrito, no puede crear marcos alrededor de nuestras páginas web ni utilizar otras técnicas que alteren de alguna manera la presentación visual o la apariencia de nuestro sitio web.</p>
    </div>
    <div class ="col s12 m4">
     <h2>Reserva de derechos</h2>
	    <p>Nos reservamos el derecho en cualquier momento y a su entera discreción para solicitarle que elimine todos los enlaces o cualquier enlace en particular a nuestro sitio web. Usted acepta eliminar inmediatamente todos los enlaces a nuestro sitio web cuando lo solicite. También nos reservamos el derecho de modificar estos términos y condiciones y su política de enlace en cualquier momento. Al continuar con el enlace a nuestro sitio web, usted acepta estar obligado a cumplir con estos términos y condiciones de enlace.</p>
    </div>
    <div class ="col s12 m4">
        <h2>Eliminación de links de nuestra página web</h2>
	        <p>Si encuentra algún enlace en nuestro sitio web o cualquier otro sitio web objetable por cualquier motivo, puede comunicarse con nosotros sobre este tema. Consideraremos solicitudes para eliminar enlaces, pero no tendremos la obligación de hacerlo o de responderle directamente.</p>
	        <p>Si bien nos esforzamos por garantizar que la información en este sitio web sea correcta, no garantizamos su integridad o exactitud; tampoco nos comprometemos a garantizar que el sitio web permanezca disponible o que el material en el sitio web se mantenga actualizado.</p>
    </div>    
</div>  
<div class="row">
    <div class ="col s12 m6">
        <h2>Responsabilidad del contenido</h2>
	    <p>No nos responsabilizaremos por el contenido que aparezca en su sitio web. Usted acepta indemnizarnos y defendernos contra todas las reclamaciones que surjan de o se basen en su sitio web. Ningún enlace (s) puede aparecer en ninguna página de su sitio web o en cualquier contexto que contenga contenido o materiales que puedan interpretarse como difamatorios, obscenos o criminales, o que infrinja, de otro modo viole o promueva la infracción u otra violación de derechos de terceras partes.</p>
    </div>
    <div class ="col s12 m6">
    <h2>Renuncia</h2>
	    <p>En la medida máxima permitida por la ley aplicable, excluimos todas las representaciones, garantías y condiciones relacionadas con nuestro sitio web y el uso de este sitio web (incluyendo, sin limitación, cualquier garantía implícita por la ley con respecto a una calidad satisfactoria, idoneidad para el propósito y / o el uso de cuidado y habilidad razonables). Nada en este aviso legal:
			</p>
	        <ol>
	         <li>Limita o excluye nuestra o su responsabilidad por muerte o lesiones personales resultantes de negligencia</li>
	         <li>Limita o excluye nuestra o su responsabilidad por fraude o tergiversación fraudulenta</li>
	         <li>Limita cualquiera de nuestras o sus responsabilidades de cualquier manera que no esté permitida por la ley aplicable</li>
	         <li>Excluye cualquiera de nuestras o sus responsabilidades que no puedan ser excluidas bajo la ley aplicable.</li>
    	</ol>
	    <p>Las limitaciones y exclusiones de responsabilidad establecidas en esta Sección y en otras partes de esta exención de responsabilidad: (a) están sujetas al párrafo anterior; y (b) rigen todos los pasivos que surjan en virtud del descargo de responsabilidad o en relación con el objeto de este descargo de responsabilidad, incluidos los pasivos que surgen en el contrato, en responsabilidad extracontractual (incluida la negligencia) y por incumplimiento del deber legal.</p>
    	<p>En la medida en que el sitio web y la información y los servicios en el sitio web se proporcionen de forma gratuita, no seremos responsables de ninguna pérdida o daño de ningún tipo.</p>
    </div>
</div>
{% endblock %}
