{% load staticfiles %}  
<head>  
    <!-- Compiled and minified CSS -->  
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">  
    <link rel="stylesheet" href="{% static 'css/main.css' %}">  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
  
    <!-- Compiled and minified JavaScript -->  
    <script src="{% static 'js/materialize.min.js' %}"></script>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>  
  
<body>  
<h1>Detalles del Hilo</h1>    
<h3>{{ thread.title }}</h3> 
<p><b>Empresa:</b> {{ thread.business }}</p>  
<p>{{ thread.description }}</p>  
<p><b>Valoración:</b> {{ thread.valoration.score }}</p>  


<p><b>Tags:</b>
{% for tag in thread.tags.all %}
{{tag.title}}</p>
{% endfor %}  
<br>

<b>Imágenes:</b>
{% for pic in thread.pics.all %}
<a href="{{pic.title}}">Imagen</a>
{% endfor %}  
<br>

<b>Archivos Adicionales:</b>
{% for file in thread.attachedFiles.all %}
<a href="{{file.title}}">Archivo</a>
{% endfor %}  
<br>

<b>Respuestas:</b>

    {% for response in responses %}  
      <b>{{ response.title }}</b><br><p>{{response.description}}</p></li>  
    {% endfor %}  
    
</body>
