{% extends "base_generic.html" %}
{% block content %}
  
<body>  
<h1>Detalles del Freelancer</h1>    
<h3>{{ freelancer.profile.name }}</h3> 

<b>Links:</b>
{% for link in links %}
  <p>{{link.url}}</p>
{% endfor %}  
<br>

<b>Formation:</b>
{% for formation in formations %}
  <p>{{formation.center}}</p>
  <p>{{formation.startDate}}</p>
  <p>{{formation.endDate}}</p>
  <p>{{formation.formation}}</p>
  <p>{{formation.miniature}}</p>
{% endfor %}  
<br>

<b>Professional Experience:</b>
{% for professionalExperience in professionalExperiences %}
  <p>{{professionalExperience.center}}</p>
  <p>{{professionalExperience.startDate}}</p>
  <p>{{professionalExperience.endDate}}</p>
  <p>{{professionalExperience.formation}}</p>
  <p>{{professionalExperience.miniature}}</p>
{% endfor %}  
<br>

<b>Aptitudes:</b>
{% for aptitude in aptitudes %}
  <p>{{aptitude.aptitude}}</p>
{% endfor %}  
<br>

<b>HTML5 showcase:</b>
<p>{{HTML5Showcase.embedCode}}</p>
<br>

<b>Graphic Engine Experiences:</b>
{% for exp in graphicEngineExperiences %}
  <p>{{exp.graphicEngine.title}}</p>
  <p>{{exp.graphicExperience}}</p>
{% endfor %}  
<br>
<!-- {{link}} -->
<!-- <p><b>Empresa:</b> {{ thread.business }}</p>  
<p>{{ thread.description }}</p>  
<p><b>Valoración:</b> {{ thread.valoration.score }}</p>  


<p><b>Tags:</b>
{% for tag in thread.tags.all %}
{{tag.title}}</p>
{% endfor %}  
<br>

<b>Imágenes:</b>
{% for pic in thread.pics.all %}
<a href="{{pic.title}}">Imagen</a>
{% endfor %}  
<br>

<b>Archivos Adicionales:</b>
{% for file in thread.attachedFiles.all %}
<a href="{{file.title}}">Archivo</a>
{% endfor %}  
<br>

<b>Respuestas:</b>

    {% for response in responses %}  
      <b>{{ response.title }}</b><br><p>{{response.description}}</p></li>  
    {% endfor %}   -->
    
</body>
{% endblock %}