{% extends "base_generic.html" %}
{% block content %}
  
  <h1>Detalles del Freelancer</h1>    
  <h3>{{ freelancer.profile.name }}</h3> 

  <b>Links:</b>
  {% for link in links %}
    <p>{{link.url}}</p>
  {% endfor %} 
  <a href="/freelancer/link/create">Add</a>
  <br>

  <b>Formation:</b>
  {% for formation in formations %}
    <p>{{formation.center}}</p>
    <p>{{formation.startDate}}</p>
    <p>{{formation.endDate}}</p>
    <p>{{formation.formation}}</p>
    <p>{{formation.miniature}}</p>
  {% endfor %}  
  <a href="/freelancer/formation/create">Add</a>
  <br>

  <b>Professional Experience:</b>
  {% for professionalExperience in professionalExperiences %}
    <p>{{professionalExperience.center}}</p>
    <p>{{professionalExperience.startDate}}</p>
    <p>{{professionalExperience.endDate}}</p>
    <p>{{professionalExperience.formation}}</p>
    <p>{{professionalExperience.miniature}}</p>
  {% endfor %}
  <a href="/freelancer/professionalExperience/create">Add</a>
  <br>

  <b>Aptitudes:</b>
  {% for aptitude in aptitudes %}
    <p>{{aptitude.title}}</p>
  {% endfor %}
  <a href="/freelancer/aptitude/create">Add</a>
  <br>

  <b>HTML5 showcase:</b>
  <p>{{HTML5Showcase.embedCode}}</p>
  <br>

  <b>Graphic Engine Experiences:</b>
  {% for exp in graphicEngineExperiences %}
    <p>{{exp.graphicEngine.title}}</p>
    <p>{{exp.graphicExperience}}</p>
  {% endfor %}
  <a href="/freelancer/graphicEngineExperience/create">Add</a>
  <br>
  
      

{% endblock %}