{% extends "base_generic.html" %}
{% block content %}
{% load i18n %}

<div class="row">
    <div class="col s12 l6 m10 offset-m1 offset-l3">
        <h2>{{ title }}</h2>
        {% for error in form.non_field_errors %}
        <div class="red-text">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}

        <form method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-content center">
                    <div class="row">
                        {% for field in form.visible_fields %}
                        <span class="red-text">{{ field.errors }}</span>
                        <div class="input-field col s12">
                            {% if 'Date' in field.html_name %}
                                <input id="{{ field.id_for_label }}" type="date" class="validate" name="{{ field.html_name }}">
                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}:</label>
                            {% else %}
                                {{field}}
                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}:</label>
                            {% endif %}
                            
                        </div>
                        {% endfor %}
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<script>M.AutoInit();</script>
</body>
{% endblock %}
