
{% load staticfiles %}
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<div class="card-panel center teal lighten-2"><h5>BIENVENIDO A ACME ICARO II, <b>Corchuelo Rules Edition</b></h5></div>
<h4>TODO:</h4>
<ul class="collection">
    <li class="collection-item">Importar materialice.css mejor? ahora mismo hay un import al inicio del html</li>
    <li class="collection-item">poner una base de datos de verdad(actualmente usando sqllitle)</li>
    <li class="collection-item">Pagina personalizada de error y 404</li>
    <li class="collection-item">Hacer el proyecto</li>
    <li class="collection-item">Dar las gracias a alex por montar todo lo coñazo del principio y dejarlo facil para los demas</li>
     <a href="http://localhost:8005/admin" class="collection-item">Vista de admin</a>

</ul>
<h3>Documentación</h3>
 <div class="collection">
     <a href="https://docs.djangoproject.com/en/2.1/ " class="collection-item">Django</a> </li>
     <a href="https://materializecss.com/" class="collection-item">https://materializecss.com/ (EL CSS)</a>

</div>

